.ant-input {
	width: 300px;
}
/*.anticon{
	margin-left: 20px;
}*/
 .inputGroup {
  margin-top: 1%;
 }
.ant-input {
    width: 200px;
}
.config-container{
	display:flex;
    flex-direction: row;
    width: 95%;
    margin: 4% auto;
}
.context{
	display:flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 0.5%;
	width: 83%;
}
.ant-tag{
	font-size: 18px;
    padding: 0.5%;
    margin: 1.5%;
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
  color: white;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.tips{
    color: red;
    font-size: 14px;
}
.ant-card-cover img{
	height: 170px;
  width: 1200px;
  margin: 0 auto;
}
.ant-card-body{
	background-color: #1890ff;
}
.ant-card-meta-title{
	color: white;
}
.ant-card-meta-description{
	color: white;
}
.editTable{
	/*width: 60%;*/
    display: flex;
    flex-direction: column;
}